---
title: Home
---

{% include head.html %}

<!-- Top Navigation -->
<header class="site-header navbar-fullwidth navbar-transparent">
  {% include navigation.html %}
<!-- Banner -->
<div class="banner banner-full-height overlay-black" style="background-image: url(assets/themes/thedocs/img/home_hero.jpeg);">
  <div class="container text-center">
    <h1>Deep Learning for Java</h1>
    <h3>Open-Source, Distributed, Deep Learning Library for the JVM</h3>
    <br><br><br><br>
    <p><a class="btn btn-white btn-xl btn-outline" href="http://deeplearning4j.org/quickstart" role="button"> Quickstart </a></p>
  </div>

  <ul class="social-icons">
    <li><a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j" data-icon="octicon-star" data-style="mega" data-count-href="/deeplearning4j/deeplearning4j/stargazers" data-count-api="/repos/deeplearning4j/deeplearning4j#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star deeplearning4j/deeplearning4j on GitHub">Star</a></li>
    <li><a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/deeplearning4j/deeplearning4j/network" data-count-api="/repos/deeplearning4j/deeplearning4j#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork deeplearning4j/deeplearning4j on GitHub">Fork</a></li>
    <li><a class="github-button" href="https://github.com/deeplearning4j/deeplearning4j" data-icon="octicon-eye" data-style="mega" data-count-href="/deeplearning4j/deeplearning4j/watchers" data-count-api="/repos/deeplearning4j/deeplearning4j#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch deeplearning4j/deeplearning4j on GitHub">Watch</a></li>
<!-- End Banner -->
</header>
<!-- END Top Navigation -->

<main class="container">
  <div class="row">

    <!-- Sidebar -->
    <aside class="col-md-3 col-sm-3 sidebar">
    {% include sidebar.html %}
    </aside>
    <!-- END Sidebar -->

    <!-- Main content -->
    <article class="col-md-9 col-sm-9 main-content" role="main">

      <header>
        <h1>What is Deeplearning4j?</h1>
        <p><strong>Deeplearning4j</strong> is the first commercial-grade, open-source, distributed deep-learning library written for Java and Scala. Integrated with Hadoop and Spark, DL4J is designed to be used in business environments on distributed GPUs and CPUs. Skymind is its commercial support arm.</p>
      </header>

      <section>
        <h2 id="features">Welcome to Deeplearning4j</h2>
        <p>Deeplearning4j aims to be cutting-edge plug and play, more convention than configuration, which allows for fast prototyping for non-researchers. DL4J is customizable at scale. Released under the Apache 2.0 license, all derivatives of DL4J belong to their authors.</p>
        <br>

        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="promo small-icon left">
              <i class="fa fa-tv"></i>
              <h3>Distributed</h3>
              <p>DL4J takes advantage of the latest distributed computing frameworks including Hadoop and Apache Spark to improve training.</p>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="promo small-icon left">
              <i class="fa fa-wrench"></i>
              <h3>Open-Source</h3>
              <p>Completely open-source and is maintained by the community and its commercial arm, Skymind.</p>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="promo small-icon left">
              <i class="fa fa-cubes"></i>
              <h3>Java/Scala/JVM</h3>
              <p>Deeplearning4j is written in Java and is compatible with any JVM language. Import into Clojure, Scala, & Kotlin projects.</p>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="promo small-icon left">
              <i class="fa fa-code"></i>
              <h3>Feature 4</h3>
              <p>You can find our code well organized, commented and readable.</p>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="promo small-icon left">
              <i class="fa fa-file-text-o"></i>
              <h3>Feature 5</h3>
              <p>As you can see in this online documentation, we provided a comprehensive documentation.</p>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="promo small-icon left">
              <i class="fa fa-download"></i>
              <h3>Feature 6</h3>
              <p>When you purchase this template, you'll freely receive future updates.</p>
            </div>
          </div>
        </div>

        <br><br>

        <div class="row">
          <div class="col-md-6">
            <ul>
              <li>HTML5 & CSS3</li>
              <li>Built with Bootstrap 3.3</li>
              <li>SASS files included</li>
              <li>Grunt Tasks</li>
              <li>Responsive design</li>
              <li>Well documented</li>
              <li>Developer friendly code</li>
              <li>44 HTML page</li>
              <li>30+ component variation</li>
              <li>13 skin color</li>
              <li>Easy to customize: sidebar, header, color scheme, content</li>
              <li>FontAwesome 400+ icons</li>
              <li>Glyphicons 250+ icons</li>
              <li>Wide & Boxed Layouts</li>
              <li>Single page Layouts</li>
              <li>Left/Right/No sidebar</li>
              <li>Different navbar sizes & variation</li>
              <li>Different banner sizes & variation</li>
              <li>Different sidebar variation</li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul>
              <li>3 Type of views</li>
              <li>Sticky sidebar</li>
              <li>Syntax highlighter</li>
              <li>Button variations</li>
              <li>Tabs</li>
              <li>Alerts</li>
              <li>Callouts</li>
              <li>Color palette</li>
              <li>Lightbox</li>
              <li>Carousel</li>
              <li>Promo boxes</li>
              <li>Script requirements</li>
              <li>Directory explanation</li>
              <li>File tree</li>
              <li>Table of content</li>
              <li>Changelog table</li>
              <li>Property table</li>
              <li>Instance searchable FAQ</li>
              <li>Responsive video (YouTube, Vimeo, Self-hosted)</li>
              <li>Extended Jumbotron</li>
            </ul>
          </div>
        </div>

      </section>

      <section>

        <h2 id="what_included">What's included</h2>
        <p>Once you download the template, you can see a folder with several files and sub folders. You can read description of some important files in continue.</p>

      </section>


      <section>

        <h2 id="getting_started">Getting started</h2>
        <p>If you have any questions, please join us on Gitter; for premium support, contact us at Skymind. ND4J is the Java-based scientific computing engine powering our matrix operations. On large matrices, our benchmarks show it runs roughly twice as fast as Numpy.</p>
        <br>
        <ul class="step-text">
          <li>
            <h5>Prepare your directory</h5>
            <p>Start your documentation project by makeing a copy of start-kit folder to your desired directory. This folder contains essential files to develop your documentation based on TheDocs.</p>
          </li>

          <li>
            <h5>Choose a layout</h5>
            <p>Decide about your documentation layout. Boxed, full-width, or single page? Do you need a sidebar on the left of page, on the right of page, or a page without sidebar? Choose your desired layout from one of the starter files and start by editing it. Even it's better to decide about <a href="">skin</a> right now.</p>
          </li>

          <li>
            <h5>Design your header</h5>
            <p><a href="component_navbar.html">The header</a> of the page is inside <code>header</code> tag. Customize it by editing logo and navigation links. If you need, you can include a <a href="component_banner.html">banner</a> as well.</p>
          </li>

          <li>
            <h5>Design your footer</h5>
            <p><a href="component_footer.html">The footer</a> of the page is inside <code>footer</code> tag. Customize it by editing copyright text and navigation links.</p>
          </li>

          <li>
            <h5>Design your sidebar</h5>
            <p>If you've already planned your documentation pages, you can categorize them and design your <a href="component_sidebar.html">sidebar</a>.</p>
          </li>

          <li>
            <h5>Start writing</h5>
            <p>Make a copy of your starter page and start writing your documentation with the help of our wonderful elements.</p>
          </li>
        </ul>

      </section>


      <section>

        <h2 id="continue_reading">Continue reading</h2>
        <p>It's time to see and read other pages of this documentation to learn how you can use different elements for you own documentation. Don't worry about reading time, you can check each element in a couple of minutes and come back to the documentation page once you want to use them. You can use them by just make a copy and paste.</p>

        <ul class="categorized-view view-col-3">
          <li>
            <h5>Components</h5>
            <a href="component_navbar.html">Navbar</a>
            <a href="component_banner.html">Banner</a>
            <a href="component_banner_sample1.html">Banner - Sample 1</a>
            <a href="component_banner_sample2.html">Banner - Sample 2</a>
            <a href="component_banner_sample3.html">Banner - Sample 3</a>
            <a href="component_sidebar.html">Sidebar - default</a>
            <a href="component_sidebar_line.html">Sidebar - line</a>
            <a href="component_sidebar_icon.html">Sidebar - icon</a>
            <a href="component_footer.html">Footer</a>
          </li>

          <li>
            <h5>Basic Styling</h5>
            <a href="css_typography.html">Typography</a>
            <a href="css_button.html">Buttons</a>
            <a href="css_label.html">Labels</a>
            <a href="css_table.html">Tables</a>
            <a href="css_alert.html">Alerts</a>
            <a href="css_icon.html">Icons</a>
          </li>

          <li>
            <h5>Elements</h5>
            <a href="element_toc.html">Table of contents</a>
            <a href="element_code.html">Code view</a>
            <a href="element_view.html">Views</a>
            <a href="element_promo.html">Promo</a>
            <a href="element_files.html">Included files</a>
            <a href="element_requirement.html">Requirements</a>
            <a href="element_tab.html">Tabs</a>
            <a href="element_step.html">Steps</a>
            <a href="element_media.html">Media</a>
            <a href="element_color.html">Color palette</a>
            <a href="element_jumbotron.html">Jumbotron</a>
            <a href="element_carousel.html">Carousel</a>
            <a href="element_faq.html">FAQ</a>
            <a href="element_mix.html">Mix</a>
          </li>

        </ul>
      </section>

    </article>
    <!-- END Main content -->
  </div>
</main>

{% include footer.html %}
