<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>Copyright &copy; 2015. All right reserved</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="footer-menu">
          <li><a href="page_changelog.html">Changelog</a></li>
          <li><a href="page_credits.html">Credits</a></li>
          <li><a href="mailto:support@shamsoft.net">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- END Footer -->

<!-- Theme JS -->
<script src="assets/themes/thedocs/js/theDocs.all.min.js"></script>
<script src="assets/themes/thedocs/js/theDocs.js"></script>
<script src="assets/themes/thedocs/js/custom.js"></script>
<!-- End Theme JS -->

<!-- Gitter -->
<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'deeplearning4j/deeplearning4j'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
<!-- End Gitter -->

</body>
</html>
