<!-- Sidebar -->
<aside class="col-md-3 col-sm-3 sidebar">

  <ul class="sidenav dropable sticky">
    <li><a class="active" href="index.html">What is Deeplearning4j</a></li>
    <li>
      <a href="#">How To Guides</a>
      <ul>
        <li><a href="http://deeplearning4j.org/quickstart">Quickstart: Running Examples and DL4J in Your Projects</a></li>
        <li><a href="http://deeplearning4j.org/gettingstarted">Comprehensive Setup Guide</a></li>
        <li><a href="http://deeplearning4j.org/buildinglocally">Build Locally From Master</a></li>
        <li><a href="http://deeplearning4j.org/devguide">Contribute to DL4J (Developer Guide)</a></li>
        <li><a href="http://deeplearning4j.org/neuralnetworktable">Choose a Neural Network</a></li>
        <li><a href="http://deeplearning4j.org/maven">Use the Maven Build Tool</a></li>
        <li><a href="http://deeplearning4j.org/canova">Vectorize Data With DataVec</a></li>
        <li><a href="http://deeplearning4j.org/image-data-pipeline.html#record">Build a Data Pipeline</a></li>
        <li><a href="http://deeplearning4j.org/buildtools">Configure DL4J in Ivy, Gradle, SBT etc</a></li>
        <li><a href="http://deeplearning4j.org/doc/">Find a DL4J Class or Method</a></li>
        <li><a href="http://deeplearning4j.org/modelpersistence">Save and Load Models</a></li>
        <li><a href="http://deeplearning4j.org/output">Interpret Neural Net Output</a></li>
        <li><a href="http://deeplearning4j.org/tsne-visualization">Visualize Data with t-SNE</a></li>
        <li><a href="http://nd4j.org/gpu_native_backends.html">Swap CPUs for GPUs</a></li>
        <li><a href="http://deeplearning4j.org/simple-image-load-transform">Customize an Image Pipeline</a></li>
        <li><a href="http://deeplearning4j.org/linear-regression">Perform Regression With Neural Nets</a></li>
        <li><a href="http://deeplearning4j.org/troubleshootingneuralnets">Troubleshoot Training & Select Network Hyperparameters</a></li>
        <li><a href="http://deeplearning4j.org/visualization">Visualize, Monitor and Debug Network Learning</a></li>
        <li><a href="http://deeplearning4j.org/spark-gpus">Running Deep Learning on Distributed GPUs With Spark</a></li>
        <li><a href="http://deeplearning4j.org/welldressed-recommendation-engine">Build a Recommendation Engine With DL4J</a></li>
        <li><a href="http://deeplearning4j.org/usingrnns">Use Recurrent Networks in DL4J</a></li>
        <li><a href="http://deeplearning4j.org/compgraph">Build Complex Network Architectures with Computation Graph</a></li>
        <li><a href="http://deeplearning4j.org/earlystopping">Train Networks using Early Stopping</a></li>
        <li><a href="http://deeplearning4j.org/snapshot">Download Snapshots With Maven</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Introduction to Neural Networks</a>
      <ul>
        <li><a href="http://deeplearning4j.org/neuralnet-overview">Introduction to Deep Neural Networks</a></li>
        <li><a href="http://deeplearning4j.org/lstm">Long Short-Term Memory Units (LSTMs)</a></li>
        <li><a href="http://deeplearning4j.org/convolutionalnets">Convolutional Nets (ConvNets)</a></li>
        <li><a href="http://deeplearning4j.org/denoisingautoencoder">Denoising Autoencoders</a></li>
        <li><a href="http://deeplearning4j.org/recurrentnetwork">Recurrent Nets and LSTMs</a></li>
        <li><a href="http://deeplearning4j.org/word2vec">Word2Vec: Neural Word Embeddings With Java</a></li>
        <li><a href="http://deeplearning4j.org/restrictedboltzmannmachine">Restricted Boltzmann Machines</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Multilayer Neural Nets</a>
      <ul>
        <li><a href="http://deeplearning4j.org/multinetwork">Multilayer Neural Nets</a></li>
        <li><a href="http://deeplearning4j.org/deepautoencoder">Deep AutoEncoder</a></li>
        <li><a href="http://deeplearning4j.org/stackeddenoisingautoencoder">Stacked Denoising Autoencoders</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Tutorials</a>
      <ul>
        <li><a href="http://deeplearning4j.org/tutorials">Deep Learning Tutorial Index</a></li>
        <li><a href="http://deeplearning4j.org/mnist-for-beginners">MNIST for Beginners</a></li>
        <li><a href="http://deeplearning4j.org/usingrnns">Using Recurrent Nets in DL4J</a></li>
        <li><a href="http://nd4j.org/userguide">Use ND4J for Scientific Computing</a></li>
        <li><a href="http://deeplearning4j.org/datavec">DataVec: Vectorization and Preprocessing for Machine Learning</a></li>
        <li><a href="http://deeplearning4j.org/updater">Neural Net Updaters: SGD, Adam, Adagrad, Adadelta, RMSProp</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Datasets</a>
      <ul>
        <li><a href="http://deeplearning4j.org/data-sets-ml">Datasets and Machine Learning</a></li>
        <li><a href="http://deeplearning4j.org/customdatasets">Custom Datasets</a></li>
        <li><a href="http://deeplearning4j.org/csv-deep-learning">CSV Data Uploads</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Scaleout: Distributed Training</a>
      <ul>
        <li><a href="http://deeplearning4j.org/spark">Training Neural Networks with Apache Spark</a></li>
        <li><a href="http://deeplearning4j.org/iterativereduce">Iterative Reduce Defined</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Text</a>
      <ul>
        <li><a href="http://deeplearning4j.org/nlp">DL4J's NLP Framework</a></li>
        <li><a href="http://deeplearning4j.org/word2vec">Word2vec for Java and Scala</a></li>
        <li><a href="http://deeplearning4j.org/doc2vec">Doc2vec for Java and Scala</a></li>
        <li><a href="http://deeplearning4j.org/textanalysis">Textual Analysis and DL</a></li>
        <li><a href="http://deeplearning4j.org/bagofwords-tf-idf">Bag of Words</a></li>
        <li><a href="http://deeplearning4j.org/sentenceiterator">Sentence and Document Segmentation</a></li>
        <li><a href="http://deeplearning4j.org/tokenization">Tokenization</a></li>
        <li><a href="http://deeplearning4j.org/vocabcache">Vocab Cache</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Resources</a>
      <ul>
        <li><a href="http://deeplearning4j.org/compare-dl4j-torch7-pylearn">DL4J, Torch7, Theano and Caffe</a></li>
        <li><a href="http://deeplearning4j.org/glossary">Glossary of Terms for Deep Learning and Neural Nets</a></li>
        <li><a href="http://deeplearning4j.org/accuracy">Deep Learning's Accuracy</a></li>
        <li><a href="http://deeplearning4j.org/data-for-deep-learning.html">The Data You Need For Deep Learning</a></li>
        <li><a href="https://github.com/deeplearning4j/DataVec">DataVec: ETL for ML</a></li>
        <li><a href="http://nd4j.org/backend.html">ND4J Backends: How They Work</a></li>
        <li><a href="http://deeplearning4j.org/model-zoo">Model Zoo</a></li>
        <li><a href="http://deeplearning4j.org/unsupervised-learning">Unsupervised Learning: Use Cases</a></li>
        <li><a href="http://deeplearning4j.org/eigenvector">Eigenvectors, PCA, Covariance and Entropy</a></li>
        <li><a href="http://deeplearning4j.org/thoughtvectors">Thought Vectors, AI and NLP</a></li>
        <li><a href="http://deeplearning4j.org/questions">Questions to Ask When Applying DL</a></li>
        <li><a href="http://deeplearning4j.org/ai-machinelearning-deeplearning">AI, Machine Learning and Deep Learning</a></li>
        <li><a href="http://deeplearning4j.org/markovchainmontecarlo">Monte Carlo, Markov Chains and Deep Learning</a></li>
        <li><a href="http://deeplearning4j.org/reinforcementlearning">DL and Reinforcement Learning</a></li>
        <li><a href="http://deeplearning4j.org/doc">Javadoc: DL4J Methods and Classes</a></li>
        <li><a href="http://deeplearning4j.org/datavecdoc/">DataVec Javadoc: DataVec Methods & Classes for ETL</a></li>
        <li><a href="http://nd4j.org/userguide">ND4J User Guide</a></li>
        <li><a href="http://nd4j.org/doc/">ND4J Javadoc</a></li>
        <li><a href="http://deeplearning4j.org/scala">Scala, Spark and Deep Learning</a></li>
        <li><a href="http://deeplearning4j.org/deeplearningpapers">Further Reading on Deep Learning</a></li>
        <li><a href="http://deeplearning4j.org/deeplearningtranslated">Deep Learning in Other Languages</a></li>
        <li><a href="http://deeplearning4j.org/use_cases">Use Cases</a></li>
        <li><a href="http://deeplearning4j.org/skynet">The Skynet Issue: How Can We Control AI?</a></li>
        <li><a href="http://deeplearning4j.org/architecture">Architecture</a></li>
        <li><a href="http://deeplearning4j.org/features">Features</a></li>
        <li><a href="http://deeplearning4j.org/roadmap">Roadmap</a></li>
        <li><a href="http://deeplearning4j.org/about">About</a></li>
        <li><a href="http://deeplearning4j.org/opendata">Open Data</a></li>
        <li><a href="http://deeplearning4j.org/releasenotes">Latest Release Notes</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Other Languages</a>
      <ul>
        <li><a href="http://deeplearning4j.org/zh-index">中文</a></li>
        <li><a href="http://deeplearning4j.org/ja-index">日本語</a></li>
        <li><a href="http://deeplearning4j.org/kr-index">한글</a></li>
      </ul>
    </li>

  </ul>

</aside>
<!-- END Sidebar -->
